.first-section {
  background: #F8FAFF;
}

.first {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.first-item {
  padding-bottom: 70px;
}

.first-item__title {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 76px;
  line-height: 100%;
  color: #000000;
  margin-bottom: 68px;
}

.first-item__descr {
  text-transform: uppercase;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 155%;
  color: #5B5E67;
  display: inline-block;
  margin-right: 10px;
}

.first-item__sibol {
  font-size: 40px;
  line-height: 120%;
  vertical-align: top;
}

.first-item__btn {
  background: #3766E4;
  border-radius: 8px;
  width: 270px;
  height: 70px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}

.first-item {
  position: relative;
  .main-vidget {
    bottom: 174px;
    left: -140px;
    width: 267px;
    height: 80px;
    padding: 14px 32px 9px;
    .page-vidjet__title {
      font-family: Rubik;
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 140%;
      color: #000000;
    }
    .page-vidjet__descr {
      font-family: Rubik;
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
      color: #000000;
    }
  }
  .page-vidjet::before {
    top: -30%;
    left: -8%;
  }
}
