.frouth-section {
  padding-bottom: 150px;
}

.frouth {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frouth__title {
  text-align: center;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 70px;
  line-height: 100%;
  color: #000000;
  margin-bottom: 74px;
}

.frouth__text {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 160%;
  text-align: center;
  color: #000000;
  margin-bottom: 80px;
  max-width: 560px;
}
