@import "blocks/header.scss";
@import "blocks/footer.scss";
@import "blocks/first-section.scss";
@import "blocks/second-section.scss";
@import "blocks/animate-sec.scss";
@import "blocks/frouth-section.scss";
@import "blocks/fifth-section.scss";
@import "blocks/sexth-section.scss";
@import "blocks/about-sec.scss";
@import "blocks/blog-sec.scss";
@import "blocks/blog-page.scss";
@import "blocks/card-sec.scss";
@import "blocks/select.scss";
@import "blocks/media.scss";
@import "blocks/slider.scss";
@import "blocks/sections.scss";
@import "blocks/all_icons.scss";

