body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  font-family: Rubik;
  color: #000;
  word-break: break-word;
  margin: 0 auto;
  overflow-x: hidden;

  opacity: 0;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}


* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: subpixel-antialiased;
  ::-webkit-scrollbar {
    height: 0px;
    width:  0px;
  }
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  cursor: pointer;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  width: 100%;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  z-index: 20;
}

.container {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
}

svg {
  fill: transparent;
}

.about-slider__button:hover {
  transform: scale(1.3);
}

.anim_mask_w {
  position: relative;
  width: 100%;

  @media (min-width: 768px) {
    height: 734px;
  }

  @media (max-width: 767px) {
    height: 430px;
    width: 100%;
  }
}

.anim_mask {
  position: absolute;

  top: 50%;
  left: 50%;
  width: 130%;
  height: 100%;
  transform: translate(-50%, -50%);

  overflow: hidden;
}
